body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Love Ya Like A Sister', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    width: 600px;
    height: 600px;
    outline: solid 1px black;
    flex: 0 0 auto;
}

.square {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    
}

.square-column {
    display: flex;
    flex-direction: column;
    outline: solid 1px rgb(0, 0, 0);
    flex: 1 0 auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: white;
}

.text {
    padding-bottom: 2px;
    margin: 0;
}

.input {
    width: 50px;
}

.color-picker {
    width: 60px;
    height: 22px;
}

.btn-container {
    display: flex;
    gap: 10px;
    flex: 0 0 0;
    align-items: center;
}


.warning-text {
    color: rgb(255, 73, 73);
    padding: 10px 1px;
    position: absolute;
}

.rgb-check {
    transform: scale(1.5);
}

.title {
    font-size: 90px;
}

.text-content {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}