body {
    margin: 0;
    
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    width: 500px;
    height: 500px;
    outline: solid 2px rgb(159, 159, 159);
    flex: 0 0 auto;
}

.square {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    
}

.square-column {
    display: flex;
    flex-direction: column;
    outline: solid 1px rgb(159, 159, 159);
    flex: 1 0 auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}