body {
    margin: 0;
    box-sizing: border-box;
    
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.content {
    display: flex;
    width: 500px;
    height: 500px;
    outline: solid 2px rgb(159, 159, 159);
    flex: 0 0 auto;
}

.square {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    
}

.square-column {
    display: flex;
    flex-direction: column;
    outline: solid 1px rgb(159, 159, 159);
    flex: 1 0 auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.text {
    padding: 10px 0;
}

.input {
    width: 50px;
}

.color-picker {
    width: 60px;
}

.btn-container {
    display: flex;
    gap: 10px;
    flex: 0 0 auto;
}

.warning-text {
    color: rgb(255, 73, 73);
    padding: 10px 1px;
    position: absolute;
}

.rgb-button {
    
}

